# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [32]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import seaborn as sns

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [21]:
#pull in outputed data file from previous workbook and open as pandas dataframe
output_data_file = "weather_data.csv"
weather_data = pd.read_csv(output_data_file, encoding="ISO-8859-1")

weather_data.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temperature,Wind Speed
0,0,yellowknife,75,CA,1580063523,92,62.46,-114.35,10.00,10.29
1,1,albany,40,US,1580063239,67,42.60,-73.97,42.80,8.05
2,2,souillac,40,MU,1580063356,78,-20.52,57.52,78.80,9.17
3,3,tasiilaq,90,GL,1580063524,44,65.61,-37.64,32.00,11.41
4,4,cape town,20,ZA,1580063524,63,-33.93,18.42,64.99,11.41

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [22]:
#configure gmaps with api key
gmaps.configure(api_key=g_key)
#set variables for heat map and cast them as floats
locations = weather_data[["Latitude", "Longitude"]].astype(float)
humidity = weather_data["Humidity"].astype(float)

In [23]:
#plot heat map. Could not see heat map in Jupyter. Googling the issue says that I have the wrong version of Jupyter. 
#I did run the extention and got "validating ok response" the map still does not display
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [24]:
#filter data frame to only include the cities that have perfect weather
perfectweather=weather_data[["City", "Country", "Max Temperature", "Wind Speed", "Cloudiness", "Latitude", "Longitude"]]
max_temp = (perfectweather["Max Temperature"] <= 80) & (perfectweather["Max Temperature"] > 70)
wind_speed = perfectweather["Wind Speed"] < 10
cloudiness = perfectweather["Cloudiness"] == 0

perfectweather = perfectweather[max_temp & wind_speed & cloudiness]
perfectweather

,City,Country,Max Temperature,Wind Speed,Cloudiness,Latitude,Longitude
11,busselton,AU,72.00,9.40,0,-33.65,115.33
137,yulara,AU,75.20,6.93,0,-25.24,130.99
181,oxchuc,MX,78.21,3.85,0,16.85,-92.42
185,malakal,SS,76.68,6.20,0,9.53,31.66
267,san buenaventura,MX,77.16,7.61,0,27.08,-101.53
344,santa cruz del sur,CU,75.52,9.08,0,20.71,-78.00
345,ca mau,VN,71.04,3.53,0,9.18,105.15
404,rahuri,IN,71.11,6.20,0,19.38,74.65
489,nouadhibou,MR,75.20,9.17,0,20.93,-17.03
556,taltal,CL,73.62,8.84,0,-25.40,-70.48

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [25]:
#add "hotel name" as a new column in dataframe
perfectweather["Hotel Name"] = ""

perfectweather

,City,Country,Max Temperature,Wind Speed,Cloudiness,Latitude,Longitude,Hotel Name
11,busselton,AU,72.00,9.40,0,-33.65,115.33,
137,yulara,AU,75.20,6.93,0,-25.24,130.99,
181,oxchuc,MX,78.21,3.85,0,16.85,-92.42,
185,malakal,SS,76.68,6.20,0,9.53,31.66,
267,san buenaventura,MX,77.16,7.61,0,27.08,-101.53,
344,santa cruz del sur,CU,75.52,9.08,0,20.71,-78.00,
345,ca mau,VN,71.04,3.53,0,9.18,105.15,
404,rahuri,IN,71.11,6.20,0,19.38,74.65,
489,nouadhibou,MR,75.20,9.17,0,20.93,-17.03,
556,taltal,CL,73.62,8.84,0,-25.40,-70.48,

In [7]:

target_radius = 5000
target_type = "hotel"

params = {
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}


base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

response = requests.get(base_url, params=params)

In [26]:
#run loop that oulls the name of the nearest hotel to the cities that are in perfect weather dataframe

for index, row in perfectweather.iterrows():

   
    city = row['City']
    lat = row["Latitude"]
    lng = row["Longitude"]
    params["location"] = f"{lat},{lng}"
    params["keyword"] = "hotel"
    
 
    print(f"Retrieving Results for Index {index}: {city}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest hotel in {city} is {results[0]['name']}.")
        
        perfectweather.loc[index, 'name'] = results[0]['name']
      
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
 #print results and exceptions       
    print("------------")

Retrieving Results for Index 11: busselton.
Closest hotel in busselton is Esplanade Hotel.
------------
Retrieving Results for Index 137: yulara.
Closest hotel in yulara is Desert Gardens Hotel - Ayers Rock Resort.
------------
Retrieving Results for Index 181: oxchuc.
Missing field/result... skipping.
------------
Retrieving Results for Index 185: malakal.
Closest hotel in malakal is Nile Palace Hotel.
------------
Retrieving Results for Index 267: san buenaventura.
Closest hotel in san buenaventura is Hotel La Conchita.
------------
Retrieving Results for Index 344: santa cruz del sur.
Missing field/result... skipping.
------------
Retrieving Results for Index 345: ca mau.
Closest hotel in ca mau is Chú Thoòng.
------------
Retrieving Results for Index 404: rahuri.
Closest hotel in rahuri is OYO 62750 Shubhkirti Lawns And Resort.
------------
Retrieving Results for Index 489: nouadhibou.
Closest hotel in nouadhibou is HOTEL VALENCIA.
------------
Retrieving Results for Index 556: taltal.
Closest hotel in taltal is Hotel Mi Tampi.
------------

In [27]:
#print the dataframe with the hotel names populated and rename column 
perfectweather
perfectweather.rename(columns={'name': 'Hotel Name'})

,City,Country,Max Temperature,Wind Speed,Cloudiness,Latitude,Longitude,Hotel Name,Hotel Name
11,busselton,AU,72.00,9.40,0,-33.65,115.33,,Esplanade Hotel
137,yulara,AU,75.20,6.93,0,-25.24,130.99,,Desert Gardens Hotel - Ayers Rock Resort
181,oxchuc,MX,78.21,3.85,0,16.85,-92.42,,NaN
185,malakal,SS,76.68,6.20,0,9.53,31.66,,Nile Palace Hotel
267,san buenaventura,MX,77.16,7.61,0,27.08,-101.53,,Hotel La Conchita
344,santa cruz del sur,CU,75.52,9.08,0,20.71,-78.00,,NaN
345,ca mau,VN,71.04,3.53,0,9.18,105.15,,Chú Thoòng
404,rahuri,IN,71.11,6.20,0,19.38,74.65,,OYO 62750 Shubhkirti Lawns And Resort
489,nouadhibou,MR,75.20,9.17,0,20.93,-17.03,,HOTEL VALENCIA
556,taltal,CL,73.62,8.84,0,-25.40,-70.48,,Hotel Mi Tampi

In [28]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in perfectweather.iterrows()]
locations = perfectweather[["Latitude", "Longitude"]]

In [30]:
# Add marker layer ontop of heat map again I can not see the figure in Jupyter for some reason. I did run the extention and got "validating ok response" the map still does not display
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig


# Display Map
fig

Figure(layout=FigureLayout(height='420px'))